/* CSS styling for the form */
body,
html {
   font-family: Arial, sans-serif;
   background-image: url("../assets/CreateJobForm.jpg");
   height: 116%;
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.navbar {
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

.navbar-logo {
   display: flex;
   align-items: center;
   margin-left: 20px;
   color: #fff;
}

.navbar-logo img {
   height: 30px;
   margin-right: 10px;
}

.navbar-menu {
   display: flex;
}

.navbar-menu li {
   list-style-type: none;
   margin-right: 30px;
}

.navbar-menu li a {
   color: blue;
   text-decoration: none;
   border: 2px solid blue;
   border-radius: 20px;
   padding: 10px 10px;
}

.navbar-menu li a:hover {
   transition-duration: 0.5s;
   color: rgb(255, 75, 15);
   border: 2px solid rgb(255, 75, 15);
   border-radius: 20px;
}

.container {
   max-width: 500px;
   margin: 0 auto;
   margin-top: 60px;
   padding: 20px;
   background-color: rgba(105, 105, 105, 0.5);
   border-radius: 20px;
}

/* h1 {
   text-align: center;
   font-size: x-large;
}

.form-group {
   margin-bottom: 25px;
}

.select-group {
   width: 100%;
   padding: 8px;
   border-radius: 20px;
   border: 1px solid #ccc;
   box-sizing: border-box;
   border: 2px solid blue;
}

.expired-date {
   width: 100%;
   padding: 8px;
   border-radius: 20px;
   border: 1px solid #ccc;
   box-sizing: border-box;
   border: 2px solid blue;
}

label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
   width: 100%;
   padding: 8px;
   border-radius: 20px;
   border: 1px solid #ccc;
   box-sizing: border-box;
   border: 2px solid blue;
}

input[type="submit"] {
   background-color: blue;
   color: white;
   padding: 10px 10px;
   border-radius: 20px;
   cursor: pointer;
   float: unset;
   transition-duration: 0.5s;
}

input[type="submit"]:hover {
   transition-duration: 0.5s;
   background-color: rgb(255, 72, 16);
   color: white;
} */
